html {
   background: url(images/background_img) no-repeat center center fixed;
   background-color:black;
}
.wrapper{
   
}

.menu-button{
   background-color: rgba(0,0,0,0.8);
   color: white;
   padding: 20px;
   font-size: 16px;
   cursor: pointer;
   border: 1px solid #fff;
}
.left-menu{
   "position: relative;"
   
   float: left;
}
.dropdown-menu{
   text-align: center;
   display: none;
   position:absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-menu a {
   color: black;
   padding: 25px 25px;
   text-decoration: none;
   display: block;
}

.dropdown-menu a:hover{
   background-color: #000;
   color: #fff;
}

.left-menu:hover .dropdown-menu{
   display: block;
}
.left-menu:hover .menu-button{
   background-color: orange;
}

.prof-box {
   color:white; 
   width: 450px;
   height:450px; 
   background-color: rgba(0,0,0,0.8);
   padding: 40px;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
   box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.3);

   
}

.prof-pic {
   border-radius:50%;
   height: 200px;
   width: 200px;
   border-style: solid;
   border-color: White;
   border-width: 4px;
   border-radius: 50%;
}

h1 {
   
   font-weight: 100;
   letter-spacing: 6;
   font-size: 40px;
}

p {
   font-weight: 100;
   letter-spacing: 1;
}

.line-break {
   width: 180px;
   margin: 0 auto;
   border-top: 1px solid white;
}

.social-icons {
   font-size: 30px;
}

.social-icons a {
   color: white;
}

.social-icons a:hover {
   color:orange;
}
