html {
   background: url(../images/background_img) no-repeat center center fixed;
   background-color:black;
}
.wrapper{
   
}

.menu-button{
   background-color: rgba(0,0,0,0.8);
   color: white;
   padding: 20px;
   font-size: 16px;
   cursor: pointer;
   border: 1px solid #fff;
}
.left-menu{
   "position: relative;"
   
   float: left;
}
.dropdown-menu{
   text-align: center;
   display: none;
   position:absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-menu a {
   color: black;
   padding: 25px 25px;
   text-decoration: none;
   display: block;
}

.dropdown-menu a:hover{
   background-color: #000;
   color: #fff;
}

.left-menu:hover .dropdown-menu{
   display: block;
}
.left-menu:hover .menu-button{
   background-color: orange;
}

