html {
   background: url(../images/background_img) no-repeat center center fixed;
   background-color:black;
}
.wrapper{
   
}

.menu-button{
   background-color: rgba(0,0,0,0.8);
   color: white;
   padding: 20px;
   font-size: 16px;
   cursor: pointer;
   border: 1px solid #fff;
}

.left-menu{
   "position: relative;"
   
   float: left;
}

.dropdown-menu{
   text-align: center;
   display: none;
   position:absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-menu a {
   color: black;
   padding: 25px 25px;
   text-decoration: none;
   display: block;
}

.dropdown-menu a:hover{
   background-color: #000;
   color: #fff;
}

.left-menu:hover .dropdown-menu{
   display: block;
}
.left-menu:hover .menu-button{
   background-color: orange;
}

.img-box {
   position: absolute;
   display: inline;
   width: 250px;
   height:auto; 
   background-color: white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
   padding: 40px;
   margin-left: 100px;
   margin-top: 70px;
}

.about-img {
   position: relative;
   margin: 0 auto;
   height: auto;
   width: 250px;
   border-style: shadow;
   border-color: black;
   border-width: 4px;
}

.about-txt {
   color: white;
   display: inline-block;
   position: absolute;
   margin-top: 20px;
   margin-left: 230px;
   width:60%;
   height:70%;
   background-color: rgba(0,0,0,0.8);
   box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.3);
}

.about-txt h2 {
   padding-left: 170px;
   text-align: center;
   font-size: 50px;
   font-weight: 100;
}

.about-txt p {
   padding-left: 260px;
   text-align: left;
}
